<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On

    #reescribe lo que este despues del dominio o del localhost
    RewriteBase /MVC-PHP/public
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>
